section {

    &#home-video-pw {

        video {
            position: fixed;
            z-index: 1;
            min-width: 100vw;
            max-width: 100vw;
            min-height: 100vh;
            max-height: 100vh;
            object-fit: cover;
        }

        #form-pw {
            
            input {
                position: relative;
                z-index: 2;
                top: 67vh;
                left: 50%;
                transform: translateX(-50%);
                border: 4px solid #ffffff;
                background-color: transparent;
                color: #ffffff;
                width: 220px;
                height: 40px;
            }
        }
    }
}